{% from "./macros/macros.html" import pageFooter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- INICIO: STYLESHEETS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    <!-- FIN: STYLESHEETS -->
    <title>::Analisis Panel</title>
</head>
<body>

    <header class="header-pageTitle">
        <h1>Analisis Panel</h1>
    </header>

    <main class="main__container">
        <!--INICIO: POEMS LIST CONTAINER-->
        <div class="section__container">
            <h2 class="section-title">Poems List</h2>

            {% for poem in poemsCollection %}
                <div class="poem__container">
                    <div class="poem-data">
                        <p>ID: {{ poem._id }}</p>
                    </div>
                    
                    <div class="poem-data">
                        <p>Keywords: {{ poem.keywords }}</p>
                    </div>
                    
                    <div class="actionButtoms__container">
                        {% set read, analize = request.args.get("read"), request.args.get("analize") %}
                            {% if read == None and analize == None %}
                                <a href="{{ url_for('poems.poemsList', poemID=poem._id, read=True, analize=False) }}">Read poem</a>
                                <a href="{{ url_for('poems.poemsList', poemID=poem._id, analize=True, read=False) }}">Analize</a>
                            {% elif read == "True" and analize == "False"%}
                                <a href="{{ url_for('poems.poemsList', poemID=poem._id, read=True, analize=False) }}">Read poem</a>
                                <a href="{{ url_for('poems.poemsList', poemID=poem._id, analize=True, read=True) }}">Analize</a>
                            {% elif read == "False" and analize == "True" %}
                                <a href="{{ url_for('poems.poemsList', poemID=poem._id, read=True, analize=True) }}">Read poem</a>
                                <a href="{{ url_for('poems.poemsList', poemID=poem._id, analize=True, read=False) }}">Analize</a>
                            {% elif read == "True" and analize == "True" %}
                                <a href="{{ url_for('poems.poemsList', poemID=poem._id, read=True, analize=False) }}">Read poem</a>
                                <a href="{{ url_for('poems.poemsList', poemID=poem._id, analize=True, read=True) }}">Analize</a>
                            {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <!--FIN: POEMS LIST CONTAINER-->


        <!--INICIO: POEM TEXT CONTAINER-->
        <div class="section__container">
            <h2 class="section-title">Poem text</h2>

            <div class="poemText__container">
                {% if request.args.get("read") == "True" %}
                    <!-- <p class="poemText">{{ poemText }}</p> -->
                    {% for line in poemText.split("\n") %}
                        <p class="poemText">{{ line }}</p>
                        </br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <!--FIN: POEM TEXT CONTAINER-->


        <!-- INICIO: POEM ANALISIS -->
        <div class="section__container">
            <h2 class="section-title">Poem Analisis</h2>

            <div class="poemAnalysis__container">
                {% if request.args.get("analize") == "True" %}

                    <!-- INICIO: POEM ENTITIES -->
                    <div class="poemAnalysis-section">
                        <h2>Poem Entities</h2>
                        {% for entity, text in poemEntities.items() %}
                            <span>{{ entity }}: </span>
                            {% for part in text %}
                                <ul>
                                    <li>{{ part }}</li>
                                </ul>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <!-- FIN: POEM ENTITIES -->


                    <!-- INICIO: POEM SPOT RENDER -->
                    <div class="poemAnalysis-section">
                        <h2>Poem Render Spot</h2>
                        <a href="{{ url_for('poems.poemsList') }}" download="poem_render.png">
                            <button>Download</button>
                        </a>
                    </div>
                    <!-- FIN: POEM SPOT RENDER -->


                    <!-- INICIO: POEM TAGS BY WORD -->
                    <div class="poemAnalysis-section">
                        <h2>Poem Tags by Word</h2>
                        <table>
                            <th>Tag</th>
                            <th>Word</th>
                            {% for part, tag in poemTags%}
                                <tr>
                                    <td>{{ tag }}</td>
                                    <td>{{ part }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- FIN: POEM TAGS -->


                    <!-- INICIO: POEM TAGS COUNT -->
                
                
                    <!-- FIN: POEM TAGS COUNT-->


                    <!-- INICIO: POEM SENTENCES -->
                    
                    <!-- FIN: POEM SENTENCES -->


                    <!-- INICIO: POEM NON CHUNKS -->
                    
                    <!-- FIN: POEM NON CHUNKS -->


                    <!-- INICIO: POEM KEYWORD MATCHES -->
                    
                    <!-- FIN: POEM KEYWORD MATCHES -->


                    <!-- INICIO: POEM SENTIMENT CALIFICATION -->
                    
                    <!-- FIN: POEM SENTIMENT CALIFICATION -->


                    <!-- INICIO: POEM TOP 3 MAIN WORDS -->
                    
                    <!-- FIN: POEM TOP 3 MAIN WORDS -->


                {% endif %}
            </div>
        </div>
        <!-- FIN: POEM ANALISIS -->
    </main>

    <!-- INICIO: FOOTER -->
        {{ pageFooter() }}
    <!-- FIN: FOOTER -->
</body>
</html>