<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- INICIO: STYLESHEETS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    <!-- FIN: STYLESHEETS -->
    <title>::Analisis Panel</title>
</head>
<body>

    <header>
        <h1 class="title">Analisis Panel</h1>
    </header>

    <main class="main__container">

        <!--INICIO: POEMS LIST CONTAINER-->
        <div class="section__container">
            <h2 class="section-title">Poems List</h2>

            {% for poem in poemsCollection %}
                <div class="poem__container">
                    <div class="poem-data">
                        <p>ID: {{ poem._id }}</p>
                    </div>
                    
                    <div class="poem-data">
                        <p>Keywords: {{ poem.keywords }}</p>
                    </div>
                    
                    {% set read, analize = request.args.get("read"), request.args.get("analize") %}
                        {% if read == None and analize == None %}
                            <a href="{{ url_for('poems.poemsList', poemID=poem._id, read=True, analize=False) }}">Read poem</a>
                            <a href="{{ url_for('poems.poemsList', poemID=poem._id, analize=True, read=False) }}">Analize</a>
                        {% elif read == "True" and analize == "False"%}
                            <a href="{{ url_for('poems.poemsList', poemID=poem._id, read=True, analize=False) }}">Read poem</a>
                            <a href="{{ url_for('poems.poemsList', poemID=poem._id, analize=True, read=True) }}">Analize</a>
                        {% elif read == "False" and analize == "True" %}
                            <a href="{{ url_for('poems.poemsList', poemID=poem._id, read=True, analize=True) }}">Read poem</a>
                            <a href="{{ url_for('poems.poemsList', poemID=poem._id, analize=True, read=False) }}">Analize</a>
                        {% elif read == "True" and analize == "True" %}
                            <a href="{{ url_for('poems.poemsList', poemID=poem._id, read=True, analize=False) }}">Read poem</a>
                            <a href="{{ url_for('poems.poemsList', poemID=poem._id, analize=True, read=True) }}">Analize</a>
                        {% endif %}
                </div>
            {% endfor %}
        </div>
        <!--FIN: POEMS LIST CONTAINER-->


        <!--INICIO: POEM TEXT CONTAINER-->
        <div class="section__container">
            <h2 class="section-title">Poem text</h2>

            <div class="poemText__container">
                {% if request.args.get("read") == "True" %}
                    <p class="poemText">{{ poemText }}</p>
                {% endif %}
            </div>
        </div>
        <!--FIN: POEM TEXT CONTAINER-->


        <!-- INICIO: POEM ANALISIS -->
        <div class="section__container">
            <h2 class="section-title">Poem Analisis</h2>

            <div class="poemAnalisis__container">
                {% if request.args.get("analize") == "True" %}
                    <p>Aqui van los resultados del poema {{ request.args.get("poemID") }}</p>

                    {{ poemRender | safe }}

                {% endif %}
            </div>
        </div>
        <!-- FIN: POEM ANALISIS -->
    </main>
</body>
</html>