<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    <title>::Poems Analizer</title>
</head>
<body>
    <header>
        <h1>Poems Analizer</h1>
    </header>

    <div>
        <form action="{{ url_for('poems.home') }}" method="POST">
            {{ form.hidden_tag() }}

            {{ form.keywords.label }}
            {{ form.keywords }}

            {{ form.title.label }}
            {{ form.title }}

            {{ form.poem.label }}
            {{ form.poem }}
    
            {{ form.submit }}
        </form>
    </div>

    {% with message = get_flashed_messages() %}
        {% if message %}
            {{ message }}
        {% endif %}
    {% endwith %}

    <a href="{{ url_for('poems.poemsList') }}">Go to analizer</a>
    
</body>
</html>