{% from "./macros/macros.html" import pageFooter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    <title>::Poems Analizer</title>
</head>
<body>
    <header class="header-pageTitle">
        <h1>Poems Analizer</h1>
    </header>

    <main class="homePage__container">
        <div class="section">
            <form action="{{ url_for('poems.home') }}" method="POST" class="newPoem__container">
                {{ form.hidden_tag() }}

                <div class="newPoem-requirementContainer">
                    <p class="newPoem-requirementLabel">
                        {{ form.title.label }}
                    </p>
                    {{ form.title(class="newPoem-field") }}
                </div>

                <div class="newPoem-requirementContainer">
                    <p class="newPoem-requirementLabel">
                        {{ form.keywords.label }}
                    </p>
                    {{ form.keywords(class="newPoem-field") }}
                </div>

                <div class="newPoem-requirementContainer">
                    <p class="newPoem-requirementLabel">
                        {{ form.poem.label }}
                    </p>
                    {{ form.poem(class="newPoem-textArea") }}
                </div>

                <div class="newPoem-requirementContainer">
                    {{ form.submit(class="newPoem-buttom") }}
                </div>
            </form>
        </div>

        <div class="section">
            <div class="homePage-wallpaper">
                <a href="{{ url_for('poems.poemsList') }}">Go to analizer</a>
            </div>

        </div>
    </main>


    {% with message = get_flashed_messages() %}
        {% if message %}
            {{ message }}
        {% endif %}
    {% endwith %}


    <!-- INICIO: FOOTER -->
    {{ pageFooter() }}
    <!-- FIN: FOOTER -->
</body>

</html>